<%- include('partials/header'); -%>
<div class="header-image">
    <h1 class="site-title">The Daily Journal</h1>
  </div>
<div class="main">

    <div class="content-container"> <!-- CONTAINER FOR THE CONTENT IS HERE -->
        <h1 class="content-title">Welcome to The Daily Journal</h1>
        <div class="content">
            <%= defaultContent %>
        </div>
        
        
        <% posts.forEach((article)=>{ %>
        <a class="article-thumbnail" href="/posts/<%= article.title %>">
            <!-- <div class="article-thumbnail-image" id="article1" >
            </div> -->
            <div class="article-thumbnail-content">
                <p class="article-thumbnail-content-title">
                    <%= article.title.substr(0,60)+'...' %>
                </p>
                <p class="article-thumbnail-content-date">
                    <%= article.date %>
                </p>
                <p>
                    <%= article.content.substr(0,180)+'...' %>
                </p> 
            </div>
        </a>
        <% }) %>
    </div>

    <div class="side-bar"> <!-- CONTAINER FOR THE SIDE-CONTENT IS HERE -->
        <div class="content side-bar4" class="">
            <h2 class="side-bar2 h2"> This is a space for ads</h2>
            <p class="side-bar2 p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore saepe, qui corporis sapiente id optio quaerat nisi molestias aspernatur voluptate molestiae ad earum impedit, fugit porro aut reiciendis. Amet, dolorem.</p>
        </div>
        <div class="content side-bar5">
            
        </div>
        <div class="content" class="side-bar7">
            <h2 class="side-bar2 h2"> This is a space for ads </h2>
            <p class="side-bar2 p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore saepe, qui corporis sapiente id optio quaerat nisi molestias aspernatur voluptate molestiae ad earum impedit, fugit porro aut reiciendis. Amet, dolorem.</p>
        </div>
        <div class="content side-bar6">
            
        </div>
        
    </div>


</div>
<%- include('partials/footer'); -%>